<div class="container-fluid mt-5">

  <div class="row">
    <div class="col-md-3" id="left-column">
      <div class="card">
        <div class="card-header">
          <h5>Registered Partners</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Function: client-side server</p>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let partner of partnersInDB">
                <th scope="row">{{partner.partnerId}}</th>
                <td>{{partner.firstName}}</td>
                <td>{{partner.lastName}}</td>
                <td>
                  <button class="btn" (click)="onDeletePartner(partner)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
          <a href="/partner-login" class="btn btn-success pull-right">Login as partner</a>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-header">
          <h5>Registered Customers</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Function: client-side server</p>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of customerInDB">
                <th scope="row">{{customer.customerId}}</th>
                <td>{{customer.firstName}}</td>
                <td>{{customer.lastName}}</td>
                <td>
                  <button class="btn" (click)="onDeleteCustomer(customer.customerId)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
          <a href="/customer-login" class="btn btn-success pull-right">Login as customer</a>
        </div>
      </div>

    </div>

    <div class="col-md-6" id="middle-column">
      <div class="card">
        <div class="card border-0">
          <img src="assets/images/logo.png">
        </div>
        <div class="card-body">

          <h1 class="card-title">About the app</h1>
          <p class="card-text">On this app, Partners can rent out their backyards to Customer as
           inexpensive wedding venues. Similar to how Airbnb works. If you log in as a Partner, you are able to create backyard posting
          as well as manage existing posting. If you log in as a Customer, you can search for backyards based on location,, reserve them, and manage your reservations.</p>
          <h5 class="card-title">Language it uses</h5>
          <p class="card-text">Java, Html, CSS, Typescript, SQL</p>
          <h5 class="card-title">Technologies it uses</h5>
          <p class="card-text">MySQL, Java JDK 11, SpringBoot 2.6.6, Mockito, Angular, Bootstrap, Amazon Web Service S3
          </p>
          <h5 class="card-title">Architecture and design</h5>
          <p class="card-text">Java SOLID principles, MVC architecture, Agile workflow</p>
          <br><br><br><br><br><br><br><br>
          <h5 class="card-title">Creators</h5>
          <p class="card-text">Brandon, Garen</p>
        </div>
        <!-- <div class="card-footer">
          <p class="card-text text-right">Footer Text - Possible Link Out</p>
        </div> -->
      </div>

      <div class="card mt-4">
        <div class="card-header text-center">
          <h5>Designing the database</h5>
        </div>
        <div class="card-body">
          <div class="card-text">
            To be useful, our app must remember. If our customer register an event and submit a payment but resets to 0
            when they log off, they would never use the app. We must save data in a way that allows ready
            access to that data when needed. <br><br>

            A database is a structured representation of data that we can read from and write to. Since the database is
            seperate from the application, it can be made available to multiple applications: The data itself is simply
            a pool that any authorized app can pull from. <br><br>

            A database management system (DBMS) is a software that manages the database by executing commands. The DBMS
            provides security, enables network access and provides admin tools for Database Admins (DBAs) to work with
            database files. One subset of DBMs is relational database management systems (RDBMS) of which it focuses on
            relational databases like MySQL, PostgreSQL or Oracle Database. <br><br>

            While the choice of DBMS determines some factors of how data is defined and ogranized, all RDBMSs in large
            part do the same thing. Since we understand how one RDMBS works, the knowledge can easily be transfered to
            another. <br><br>
          </div>
          <h5 class="card-title">Normalizing to 1NF, and 2NF</h5>
          <div class="card-text">
            Once we gathered our data into a table, the data must satisfy the following conditions to achieve 1NF and
            then 2NF: <br>
            <ol>
              <li>No top-to-bottom ordering to the rows</li>
              <li>No left-to-right ordering to the columns</li>
              <li>Every row is uniquely identified</li>
              <li>Every row-column intersection (field) contains only one value</li>
              <li>Every non-primary-key column is dependent on the primary key but not dependant on any subset</li>
            </ol>
          </div>
          <br>
          <h5 class="card-title">Entity Relationship Diagram (ERD)</h5>
          <div class="card border-0">
            <img src="assets/images/database.png">
          </div>
          <br><br>
          <h5 class="card-title">Summary</h5>
          <div class="card-text">
            When we started normalizing data, there were serveral many-to-many relation. However in a normalized
            database (at least 2NF), all relationships became either be one-to-one or (as is the case) one-to-many. If
            there exist many-to-many relations, normalization results in X2 one-to-many and an interconnecting bridge
            table. This app is the former case.
            <br><br><br><br>
          </div>
        </div>

      </div>

    </div>

    <div class="col-md-3" id="right-column">
      <div class="card">
        <h5 class="card-header">Authors and Source code</h5>
        <div class="card-body">
          <a href="https://github.com/BrandonVieira-C/BackyardWeddingApp" class="link-secondary nounderline">
            <img src="assets/images/github.png" alt=""> View on Github
          </a><br>
          <a href="https://www.linkedin.com/in/brandon-vieira-5b42b367/" class="link-secondary nounderline">
            <img src="assets/images/linkedin.png" alt=""> Brandon V.
          </a><br>
          <a href="https://www.linkedin.com/in/garen-goh-74015512a/" class="link-secondary nounderline">
            <img src="assets/images/linkedin.png" alt=""> Garen G.
          </a><br>
        </div>
      </div>
    </div>
  </div>
</div>